# Compiled Object files
x64/
Debug/
Release/
.vs/
*.lib
*.obj
*.aps

# Work files
*.ini
*.ncb
*.suo
*.sdf
*.opensdf
*.user
*.dmp
*.*~

# Binary files
*.m88
*.exe
*.rom
*.wav
*.d88
*.88D
*.s88

# Linux/Unix executables
prototype/sdl2_test/test_graphics
prototype/sdl2_test/test_audio
prototype/sdl2_test/hal_demo

