# Compiled Object files
x64/
Debug/
Release/
.vs/
*.lib
*.obj
*.aps

# CMake build directories
build/
**/build/

# Work files
*.ini
*.ncb
*.suo
*.sdf
*.opensdf
*.user
*.dmp
*.*~

# Binary files
*.m88
*.exe
*.rom
*.ROM
*.wav
*.d88
*.88D
*.s88

# Linux/Unix executables
prototype/sdl2_test/test_graphics
prototype/sdl2_test/test_audio
prototype/sdl2_test/test_audio_debug
prototype/sdl2_test/test_audio_terminal
prototype/sdl2_test/hal_demo
prototype/sdl2_test/test_drawsdl2
prototype/sdl2_test/test_pc88text

